
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


nav{
    height: 50px;
    width: auto;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}


nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
}

nav ul li a:hover{
    color: #ccc;
    transition: 0.3s ease;
}

.page-logo-nav{
    text-align: left;
    text-decoration: none;
    color: white;
}


body{
    background-color: white;
}

header{
    background-color: white;
    padding: 20px;
}


.kere{
    margin: 50px 0;
    text-align: center;
}

.header-bar{
    background-color: white;
    padding: 1px;
}

.header-bar-pagename{
    height: auto;
    width: auto;
    padding-left: 15px;
}


.hamberger-lines{
    display: block;
    height: 18px;
    width: 28px;
  
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamberger-lines .line{
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.header-nav_bar{
    padding: 0 15px;
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: yellow;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }
  
  .container{
    margin: 0 15px;
  }


/* 
.btn_xx {
background: linear-gradient(45deg,blue,violet)

}



 */


 
@media screen and (max-width:900px){
    .header-nav_bar{
        padding: 10px 15px;
        background-color: black;
    }
    nav{      
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        transition: 0.3s ease;
    }
    
    nav ul li{
        list-style: none;
    }
    
    nav ul li a{
        text-decoration: none;
        color: white;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        border-bottom: 1px solid white;
    }
    
    nav ul li a:hover{
        color: #ccc;
        transition: 0.3s ease;
    }
    
    .page-logo-nav{
        height: 30px;
        font-size: x-large;
        text-align: left;
        text-decoration: none;
        color: white;
    }

    .hamberger-lines{
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
      
        z-index: 10;
        display: flex;
        cursor: pointer;
    }

    nav h2{
        margin: 20px 0;
    }
}
 